Repository opcotech/elemo, pull requests merged in 2024-05, with the labels that each got.

#181 Use the built-in datetime function for creating and updating resources
  internal/repository/neo4j/attachment.go
  internal/repository/neo4j/comment.go
  internal/repository/neo4j/document.go
  internal/repository/neo4j/issue.go
  internal/repository/neo4j/label.go
  internal/repository/neo4j/organization.go
  internal/repository/neo4j/permission.go
  internal/repository/neo4j/project.go
  internal/repository/neo4j/role.go
  internal/repository/neo4j/todo.go
  internal/repository/neo4j/user.go
Labels: go, pedantic

#178 feat: in-app notifications
  api/openapi/openapi.yaml
  assets/queries/bootstrap.sql
  cmd/elemo/cli/start_server.go
  docs/ADRs/0006.sending-notifications-and-emails.md
  internal/config/config.go
  internal/config/config_test.go
  internal/model/errors.go
  internal/model/model.go
  internal/model/notification.go
  internal/model/notification_test.go
  internal/model/resource_type.go
  internal/model/resource_type_test.go
  internal/repository/errors.go
  internal/repository/notification.go
  internal/repository/pg/notification.go
  internal/repository/pg/notification_integration_test.go
  internal/repository/pg/notification_test.go
  internal/repository/pg/pg.go
  internal/repository/pg/pg_test.go
  internal/repository/redis/notification.go
  internal/repository/redis/notification_integration_test.go
  internal/repository/redis/notification_test.go
  internal/repository/redis/redis.go
  internal/service/errors.go
  internal/service/notification.go
  internal/service/notification_integration_test.go
  internal/service/notification_test.go
  internal/service/service.go
  internal/service/system_integration_test.go
  internal/testutil/mock/namespace_repo.go
  internal/testutil/mock/notification_repo.go
  internal/testutil/mock/pg.go
  internal/testutil/model/notification.go
  internal/testutil/repository/repository.go
  internal/testutil/testsuite.go
  internal/transport/http/api/server.go
  internal/transport/http/controller.go
  internal/transport/http/errors.go
  internal/transport/http/notification.go
  internal/transport/http/server.go
  scripts/setup.sh
  web/.env.example
  web/.env.test.example
  web/components/navigation/Navbar.tsx
  web/components/notifications/NotificationDrawer.tsx
  web/components/notifications/NotificationList.tsx
  web/components/notifications/NotificationListItem.tsx
  web/packages/elemo-client/index.ts
  web/packages/elemo-client/models/Notification.ts
  web/packages/elemo-client/schemas/$Notification.ts
  web/packages/elemo-client/services/NotificationService.ts
  web/playwright.config.ts
  web/pnpm-lock.yaml
  web/store/notificationSlice.ts
  web/store/store.ts
Labels: enhancement, front-end, api, configs

#182 Improve contributing experience
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/boring-cyborg.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  CONTRIBUTING.md
  README.md
  scripts/common.sh
  scripts/generate-dev-config.sh
  scripts/generate-frontend-client.sh
  scripts/setup.sh
Labels: github actions, build
