Repository opcotech/elemo, pull requests merged in 2025-08, with the labels that each got.

#289 feat: Settings button in dashboard quick actions links to actual page
  web/src/routes/dashboard.tsx
Labels: front-end

#290 refactor: use mockgen generated redis and cache clients
  go.mod
  go.sum
  internal/queue/client_integration_test.go
  internal/repository/redis/assignment_test.go
  internal/repository/redis/attachment_test.go
  internal/repository/redis/cache.go
  internal/repository/redis/comment_test.go
  internal/repository/redis/document_test.go
  internal/repository/redis/issue_test.go
  internal/repository/redis/label_test.go
  internal/repository/redis/namespace_test.go
  internal/repository/redis/organization_test.go
  internal/repository/redis/permission_test.go
  internal/repository/redis/project_test.go
  internal/repository/redis/redis_test.go
  internal/repository/redis/role_test.go
  internal/repository/redis/todo_test.go
  internal/repository/redis/user_test.go
  internal/service/organization_test.go
  internal/service/user_test.go
  internal/testutil/mock/cache_repo.go
  internal/testutil/mock/cachebackend_gen.go
  internal/testutil/mock/redis.go
  internal/testutil/mock/universalclient_gen.go
  internal/transport/async/worker_integration_test.go
Labels: go, pedantic

#284 fix(#277): make FirstName and LastName required for user creation
  api/openapi/openapi.yaml
  internal/model/user.go
  internal/model/user_test.go
  internal/pkg/context_test.go
  internal/testutil/model/user.go
  internal/transport/http/api/server.go
  internal/transport/http/user.go
  web/src/lib/client/types.gen.ts
  web/src/lib/client/zod.gen.ts
Labels: front-end, api

#350 chore: update boring-cyborg labels to match new structure
  .github/boring-cyborg.yml
  .github/workflows/deploy-api-docs.yml
  .github/workflows/deploy-website.yml
Labels: build, api
